Repository andreistefanciprian/gcp-tf-atlantis-test: changes, and which Atlantis projects are due for each by the changed paths.
All: dev, prod

dev:
  workflow: terraform
  dir: environments/dev
  workspace: default
  terraform_version: v0.14.5
  apply_requirements:
  - approved

prod:
  workflow: terraform
  dir: environments/prod
  workspace: default
  terraform_version: v0.14.5
  apply_requirements:
  - approved

update port
  environments/prod/main.tf
Due: prod

update port dev
  environments/dev/main.tf
Due: dev

Revert "update port dev"
  environments/dev/main.tf
Due: dev

update
  atlantis.yaml
Due: none

update dev port
  environments/dev/main.tf
Due: dev

update
  environments/dev/main.tf
Due: dev

coment
  environments/dev/main.tf
Due: dev

add port
  environments/dev/main.tf
Due: dev

update
  environments/dev/versions.tf
Due: dev

new port
  environments/dev/main.tf
Due: dev

remove ports
  environments/dev/main.tf
  environments/prod/main.tf
Due: dev, prod

add 443 port
  environments/dev/main.tf
Due: dev

add 443
  environments/prod/main.tf
Due: prod

Revert "add 443"
  environments/prod/main.tf
Due: prod

add 443 oops
  environments/prod/main.tf
Due: prod

add 8090
  environments/prod/main.tf
Due: prod

add 8443 port
  environments/prod/main.tf
Due: prod

rm
  environments/dev/main.tf
Due: dev

update tf ver
  environments/dev/versions.tf
  environments/prod/versions.tf
Due: dev, prod

revert tf ver
  environments/dev/versions.tf
  environments/prod/versions.tf
Due: dev, prod

update
  environments/prod/main.tf
Due: prod

change port
  environments/dev/main.tf
Due: dev

add https
  environments/dev/main.tf
Due: dev

add random port
  environments/dev/main.tf
Due: dev

update gcp project
  environments/dev/terraform.tfvars
  environments/prod/terraform.tfvars
Due: dev, prod

update
  .gitignore
  README.md
Due: none

update
  README.md
  environments/dev/backend.tf
Due: dev

Path conditions:
  dev: any of: environments/dev/*.tf, environments/dev/*.tfvars
  prod: any of: environments/prod/*.tf, environments/prod/*.tfvars
